<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitappa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".Profile.DashboardActivity" />
        <activity android:name=".Authentication.LoginActivity" />
        <activity android:name=".Workout.ViewWorkoutActivity" />
        <activity android:name=".Routine.ViewRoutineActivity" />
        <activity android:name=".Routine.AddRoutineActivity" />
        <activity android:name=".Workout.TrackWorkoutActivity" />
        <activity android:name=".Workout.AddWorkoutActivity" />
        <activity android:name=".Exercise.AddExerciseActivity" />
        <activity android:name=".Routine.ViewRoutinesActivity" />
        <activity android:name=".Profile.ViewSetupActivity" />
        <activity android:name=".WorkoutTracker.StartWorkoutActivity" />
        <activity android:name=".Exercise.CreateNewExerciseActivity" />

        <activity
            android:name=".Authentication.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Authentication.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".Profile.ViewProfileActivity"
            android:exported="true" />
    </application>

</manifest>